<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAVEKULT - Event </title>
</head>
<body>
        <h2>{{event.title}} - {{event.eventdate}}</h2>
    <span>{{event.description}}</span>
    <span>{{event.location}}</span>
    <span>{{event.price}}</span>
    <span>{{event.organisator}}</span>
    <span>{{event.info}}</span>
    <span>{{event.website}}</span>
    <span>{{event.presale}}</span>
    "16/10 (OCT) \n≣ FJAAK (Berlin) all-night long ≣\nNewschool techno from higher spheres brought to you by these 2 high flying artists from Berlin \n📍 ROXY Club\n💰 400 CZK \n🚪 23:00 - 06:00\n🚩 MORE INFO HERE \n\n👉 Come early to avoid long queues"
</body>
</html>