<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RAVEKULT - Weekly Summary</title>
    </head>

    <body>
        <section>
            <h2>Event: Rave Away</h2>
            <h3>@ Ankali</h3>
            <p>This event takes place outside</p>
            <p>For more info see </p><a href="#">More info</a>
        </section>
        <section>
            <h2>Event: Rave123</h2>
            <p>This event takes place outside</p>
            <p>For more info see </p><a href="#">More info</a>
        </section>
        <section>
            <h2>Event: Rave123</h2>
            <p>This event takes place outside</p>
            <p>For more info see </p><a href="#">More info</a>
        </section>
    </body>

</html>