{% extends 'base.html.j2' %}
{% block TITLE %}
Journey to a thousand raves
{% endblock TITLE %}
{% block BODY %}
<nav>
    <a href="#location-section">Add Location</a>
    <a href="#add-event">Add Event</a>
    <a href="#add-org">Add Org</a>
    <a href="/blog">Blog</a>
    {% if login %}
    <a href="/admin">Admin</a>
    {% endif %}
</nav>
<main>
    {% with messages = get_flashed_messages() %}
    {%if messages %}
    <section>
        <article class="message flashes autohide">
            {% for message in messages %}
            <span> {{ message }}</span>
            {% endfor %}
        </article>
    </section>
    {% endif %}
    {% endwith %}
    <header class="eventfilter">
        <span id="fcountry">Upcoming Events in<span>
                <select onchange="countryChange(this,'topCity');" name="topCountry"
                    id="topCountry">{% for cnt in countries %}
                    <option value="{{cnt.code}}">{{cnt.name}}</option>
                    {% endfor %}
                </select>
                <select name="topCity" id="topCity">
                    <option value="">Select a city</option>
                </select>
    </header>
    <section class="eventList">

    </section>
    <section>
        {% for x in events %}
        <article class="ev">
            <header>
                <span>{{x.name}}</span>
                <span>📍{{x.location}}, {{x.city}}</span>
                <span><time datetime="{{x.date}}" class="textHide">{{x.date.4lace('T',' ')}}</time></span>

            </header>
            <p>Description: {{x.description}}</p>
            <img src="{{x.banner}}" alt="Eventimage">
            <!-- <p>{{x.date}}</p> -->
            <aside>
                Duration:
                <span></span> <!-- <p>{{x.duration}} hours</p> -->
            </aside>
            <aside class="badges">
                <p class="badge">{{x.type}}</p>
                <p class="badge">💰 &euro; {{x.price}}</p>
                {% for badge in x.badges %}
                <p class="badge">{{badge.name}} {{badge.icon}}</p>
                {% endfor %}
                <p class="textHide" style="display:none;">{{x.created}}</p>
            </aside>
        </article>
        {% endfor %}
    </section>

    <section class="wide">
        <p class="wide">Follow us on Telegram: <a href="t.me/cz_raves" autocapitalize>CZ_raves channel</a></p><br>
        <p class="wide">Check out our subreddit: <a href="reddit.com/r/ravekult">Ravekult on Reddit</a></p>
    </section>

    <!-- Start of location-form -->
    <section id="location-section" name="location-section">
        <article>
            <h2 onclick='locationForm.style.display="block"' for="location-section">Add a Location</h2>
            <form action="api/location" method="post" name="locationForm" id="locationForm" style="display: none;">
                <fieldset form="locationForm" class="formtab" style="display:block">
                    <legend>New Location</legend>

                    <label for="locationName">Name</label>
                    <input type="text" placeholder="Location Name" name="locationName" required />
                    <br>
                    <label for="locationUrl">Website</label>
                    <input type="url" placeholder="URL" name="locationUrl" id="locationUrl" value="https://www.">

                </fieldset>
                <fieldset class="formtab" lang="en-US">
                    <legend>Coordinates</legend>
                    <p> <label for="frmLocX">Longitude </label> <input step='0.0001' type="number" name="frmLocX"
                            id="frmLocX"></p>
                    <p> <label for="frmLoxY">Latitude </label>
                        <input step='0.0001' type="number" name="frmLocY" id="frmLocY">
                    </p>
                </fieldset>
                <fieldset class="formtab">
                    <legend>Address</legend>
                    <p><label for="streetname">Street</label><input type="text" placeholder="Street name"
                            name="streetname"></p>
                    <p> <label for="streetnumber">Number</label><input type="text" placeholder="Street number"
                            name="streetnumber"></p>
                </fieldset>
                <fieldset class="formtab">
                    <legend>Country</legend>
                    <p><label for="locationcountry">Country</label>
                        <select class="invalid" oninput="this.className = ''" for="location-form" name="locationcountry"
                            id="locationcountry" required onchange="countryChange(this,'loccity')">
                            <option selected disabled>Select a country</option>
                            {% for c in countries %}
                            <option value="{{c.code}}">{{c.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p><label for="loccity">City</label><br>
                        <select class="invalid" oninput="this.className = ''" placeholder="City" name="city"
                            id="loccity" required>
                            <option selected disabled>Select a city</option>
                        </select>
                    </p>
                </fieldset>
                <!-- <input type="submit" value="Submit" for="location-form" /> -->
                <div class="formControls">
                    <input type="button" id="nextBtn" onclick="nextPrev(1)" value="Next"><input type="button"
                        id="prevBtn" onclick="nextPrev(-1)" value="Previous">
                </div>

                <div style="text-align:center;margin-top:1em;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </article>
    </section>
    <section>
        <h2> User location</h2>
        <details>
            <summary>
                Share
            </summary>


            <input type="button" value="📍 Share Location" name="getGeo" id="getGeo" onclick="getGeo()">
            <form name="userGeo" id="userGeo">
                <fieldset>
                    <legend>Position</legend>
                    <label for="locX">X :</label><input type="text" name="locX" id="locX" value="" readonly>
                    <label for="locY">Y :</label><input type="text" name="locY" id="locY" value="" readonly>
                    <label for="geoAddress">Address :</label>
                    <span id="geoAddress" style="color:white"></span>

                </fieldset>
            </form>
            <!-- <article class="mapEmbed">
            <iframe id="elemMapEmbed" width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0" src="https://www.openstreetmap.org/#map=19/50.08552/14.44695"
                style="background:grey;position:fixed;top:0;right:0;" referrerpolicy="origin-when-cross-origin"
                allowfullscreen allow="">A map should be displayed here</iframe><br /><small><a id="elemMapEmbedHref"
                    href=>Grotere kaart
                    weergeven</a></small>
        </article> -->
        </details>
    </section>
    <section>
        <article id="add-event">
            <form action="api/event" method="post" name="event-form" id="event-form">
                <fieldset>
                    <legend>New Event</legend>
                    <label for="eventname">Event Name</label><input au type="text" placeholder="Name" name="eventname"
                        required>
                    <label for="eventdatetime">Event DateTime</label>
                    <input type="date" value={{NOW}} min="2022-01-01" max="2099-01-01" placeholder="Event Date"
                        name="eventdate" id="eventdate" required>
                    <label for="eventduration">Duration (hrs)</label><input type="range" min="0" max="148" value="10"
                        onchange="this.title=this.value" name="eventduration" id="eventduration">
                    <label for="eventdescription">Description</label><textarea placeholder="Description"
                        name="eventdescription" id="eventdescription" maxlength="1200" data-scope="eventscope" cols=""
                        rows="5"></textarea>
                </fieldset>
                <fieldset id="eventPrice">
                    <legend>Entrance & Tickets</legend>
                    <label for="evP" id="evPlabel">Free Entry</label>
                    <input type="checkbox" name="evP" id="evP" checked
                        onclick="this.type='number';this.value='1';document.getElementById('evPlabel').innerHTML='Price in &euro;'"
                        max="999" min="1" step="0.5" value="Price">
                    <label for="presale">Presale</label><input type="checkbox" title="Presale" disabled>
                    <!-- <div id="eventPriceCheck" style="display:block;">
                        <label for="myCheck" id="eventPriceLabel">Free</label>
                        <input type="checkbox" id="myCheck"
                            onclick="displayOnChecked('eventPriceCheck','eventPriceValue')"
                            aria-labelledby="eventPriceLabel" checked>
                    </div>
                    <div id="eventPriceValue" style="display:none;">
                        <label for="eventprice">Price in &euro;</label>
                        <input type="number" placeholder="Event Price" min="0" step="0.01" max="999" value="10"
                            name="eventprice">
                    </div> -->
                </fieldset>
                <!-- <output for="eventstarttime" value="#eventstarttime.value"></output>  -->
                <fieldset>
                    <legend>Event Location</legend>
                    <p>
                        <label for="eventlocation">Location</label><select name="eventlocation" id="eventlocation">
                            {% for loc in locations %}
                            <option value="{{loc.name}}">{{loc.name}} {{loc.city}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p><label for="eventtype">Type</label><select name="eventtype" id="eventtype">
                            {% for type in eventtypes%}
                            <option value="{{type}}">{{type}}</option>
                            {% endfor %}
                        </select></p>
                    <p>
                        <label for="eventorg">Organizer</label><select name="eventorg" id="eventorg"
                            onchange=getData(eventorg.id,eventcountry.id)>
                            {% for org in orgs%}
                            <option value="{{org.name}}">{{org.name}} {{org.city}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="eventcity">City</label><input type="text" name="eventcity" id="eventcity">
                    </p>
                    <p>
                        <label for="eventbanner">Banner</label><input type="url" maxlength="256" name="eventbanner"
                            id="eventbanner">
                    </p>
                </fieldset>





                <fieldset><label for="eventbadges">Eventbadges</label>
                    <select name="eventbadges" id="eventbadges" multiple>
                        {% for b in badges%}
                        <option value="{{b.id}}">{{b.name}} {{b.icon}}</option>
                        {% endfor %}
                    </select> <br>
                </fieldset>

                <!-- <button onclick="var s = document['#eventbadges'];
                    var c =document.getElementById(''); cloneNode(s).appendChild(c)">Add more...</button> -->
                <fieldset class="frmControls">
                    <input type="reset" value="Reset"><input type="submit" value="Submit" />

                </fieldset>
            </form>

        </article>
        <article id="add-org">
            <label for="organisation-form"></label><br>
            <form method="post" id="organisation-form" action="api/organisation">
                <fieldset>
                    <legend>Add an Organisation</legend>
                    <label for="orgname">Name: </label><input type="text" name="orgname" id="orgname" required
                        placeholder="Name" maxlength="256">
                    <label for="orgwebsite">Website</label><input type="url" name="orgwebsite" id="orgwebsite"
                        placeholder="Website">

                    <label for="country">Country: </label>
                    <select name="country" id="country" required onchange='countryChange(this,"citySelect");'>
                        <option value="0" selected disabled>Select a country</option>
                        {% for cnt in countries %}
                        <option value="{{cnt.code}}">{{cnt.name}}</option>
                        {% endfor %}
                    </select>

                    <label for="citySelect">City: </label>
                    <select name="city" id="citySelect">
                        <option selected disabled value="0">Select a city</option>
                    </select>
                    <br>
                    <input type="submit" value="Submit"><br>
                </fieldset>
            </form>
        </article>
    </section>
    <!-- Start of event-form -->
    {% if events %}
    <section id="event-section">
        {% for ev in events %}
        {% block loop_item scoped %}
        <article class="ev">
            <p>{{ev.name}}</p>
            <p>{{ev.date}}</p>
            <p>{{ev.price}}</p>
            <p>{{ev.location}}</p>
        </article>
        {% endblock %}
        {% endfor %}
    </section>
    {% endif %}



</main>

{% endblock %}

<datalist id="countriesEurope">
    <option value="" selected disabled>Select...</option>
    {% for k in countries %}
    <option value="{{k}}">{{k}}</span>
        {% endfor %}
</datalist>

</body>

{% if modal %}
{% include "form.html" with context %}
{% endif %}